.registeration{
  height:400px;
  width:400px;
  border: 10px solid blue; 
  margin-left:10px;
  margin-top: 20px;
  background-color:black;
}
.names{
  margin:20px;
}
.name{
  color:white;
}
.space{
 margin: 10px;
}
.head{
  margin: 30 px;
  padding: 10px 50px 10px 50px;
  height:20px;
  color:white;
}

.Navbarstyle{
  list-style-type:none;
background-color:black;
border-right: 1px;
margin: 0px;
padding:0px;
overflow: hidden;/*this is used to avoid overflow and put it at the right place}*/
border:2px solid blue;
}

.Navbarelements{
display: inline;
float: left;
padding: 14px 16px;
color:white;
border-right:2px solid blue; 
text-align:center;
text-decoration: none;
}
.heading1{
  margin: 0px;
}


